<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.udacity.firebase.shoppinglistplusplus">

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:name=".ShoppingListApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_shopping_list"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBnRSkkRRZ2mlDGsoTo0PnhleCb9_KYmeA" />

        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.udacity.firebase.shoppinglistplusplus.ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.activeListDetails.ActiveListDetailsActivity"
            android:label="@string/title_activity_list_details"
            android:parentActivityName=".ui.MainActivity"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MainActivity" />
        </activity>
        <activity android:name=".ui.login.LoginActivity">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.login.CreateAccountActivity"
            android:label="@string/title_activity_create_account"
            android:parentActivityName=".ui.login.LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.login.LoginActivity" />
        </activity>
        <activity
            android:name=".ui.SettingsActivity"
            android:label="@string/action_settings" />

        <activity
            android:name=".ui.sharing.AddFriendActivity"
            android:label="@string/title_activity_add_friend"
            android:parentActivityName=".ui.sharing.FriendsList">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.sharing.FriendsList" />
        </activity>

        <!--<service android:name=".geofence.GeofenceTransitionsIntentService" />-->

        <activity
            android:name=".ui.sharing.FriendsList"
            android:label="@string/title_activity_friends_list"
            android:theme="@style/AppTheme"
            />

        <activity android:name=".map.MapMainActivity"
            android:launchMode="singleTop"></activity>

        <receiver android:name=".geofence.GeofenceReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name=".geofence.ACTION_RECEIVE_GEOFENCE"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>
